
<!DOCTYPE html>
<tbody>
    <div class="main">
        <h4>Future Duties for  {{ getLastName() }}</h4>
    </div>
    <div class="main" >
        <table id="duties">
            <tr>
                <th>Date</th><th>Duty</th><th>Time Span</th>
            </tr>
            <tr  *ngFor = "let item of duties">
                <td *ngIf = "item"> {{ getDateString(item.day) }}</td>
                <td *ngIf = "item"> {{ item.name }}</td>
                <td *ngIf = "item"> {{ item.timeSpan }} </td> 
            </tr>
        </table>
    </div>
</tbody>
