
<!-- Tab links -->
<div class="tab">
  <button [routerLink]="['/Month', id]">Physics Coverage</button>
  <button [routerLink]="['/Myduties', id]">My Duties</button>
   <!--
  <button [routerLink]="['/Timeaway', id]">Timeaway</button
  <button [routerLink]="['/ResTriage', id]">Resident Triage</button>
  -->
  <button [routerLink]="['/Angtimeaway', id]">Timeaway </button> 
  <button (click) ="goHome()">Whiteboard Home</button>
</div>


<div *ngIf="gotData">
<router-outlet></router-outlet>
</div>

