th {
    text-align: center;
}
td {
    min-width: 60px;
    text-align: center;
    border: 1px solid black;
}
td.weekend {
    background-color: yellow ;
}
td.weekday {
    background-color: lightgrey ;
}
