caption {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
th {
    text-align: center;
}
td {
    min-width: 40px;
    text-align: center;
    border: 1px solid black;
    background-color: rgb(230, 217, 213);
}
td.goAwayer {
    background-color: rgb(189, 238, 189) ;
    border:solid;
}
td.notApproved {
    background-color: white ;
}
td.noCoverage {
    background-color: rgb(238, 156, 156) ;
}
td.weekend {
    background-color: yellow ;
}
td.weekday {
    background-color: lightgrey ;
}
td.today {
    background-color: rgb(213, 184, 165) ;

}
table {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #333;
        margin-left: auto;
        margin-right: auto;
        /* Optional: set a specific width for the table */
        width: 80%; /* Or a fixed pixel value like 600px */
}
.centered-div {
  width: 80%; /* Or any specific width */
  margin-left: auto;
  margin-right: auto;
  margin-top:50px;
  /* Shorthand: margin: 0 auto; */
}
.raised-button {
    font-size: larger;
  width: 130px;
  height: 35px;
  background-color: #4CAF50; /* Example background color */
  color: black;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: rgb(186, 178, 178);
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Initial shadow for raised effect */
  transition: all 0.2s ease; /* Smooth transition for hover/active states */
  background-image: linear-gradient(to right, rgb(125, 165, 158), rgb(244, 238, 238));

}
.raised-button:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); /* Smaller shadow on active (pressed) */
  transform: translateY(1px); /* Slight push down on active */
}
.goAwayerClass {
    background-color: rgb(189, 238, 189) ;
    border:solid;
    cursor: pointer;
}
.hasCoverage {
    background-color: rgb(115, 147, 115) ;
    border:solid;
    cursor: pointer;
}
.wide {
    width: 250px;
}
.example-button-row {
  display: table-cell;
  width: 490px;
}
.noteField {
  width: 100%;
  border:solid;
}
.example-full-width {
  width: 350px;
  font-size:smaller;
}