
<!doctype html>
<html lang="en">
<head>
<h2> Time Away Calendar</h2>
</head>
<div style="text-align: center; padding-top:0px"  height="800px" width="1200px">
                                                                                                                         
<table>
  <tr>
     <th colspan="1"><img  class="images"  (click)="advanceMonth(-1)" src="assets/prevMonthArrow.png"/></th>
     <th style="font-size: large;">Time Away Calendar</th>
      <th colspan="1"><img  class="images" (click)="advanceMonth(1)" src="assets/nextMonthArrow.png"/></th>
  </tr>
  </table>
  <table>
<tr>
  <th [attr.colspan]="remainingDaysInMonth" style="border:solid">{{nameOfCurrentMonth}}</th>
  <th [attr.colspan]="daysInNext28Days" style="border:solid">{{nameOfNextMonth}}</th>
</tr> 
<!-- Top Line with Dates e.g .12 -->
  <tr>
    <td *ngFor="let item of dateShownOnCalendar" [class]="item.class">{{item.justdateL}}</td>
  </tr>
<!-- tr loop over goAwayersWithTAs  Set up for MAX of 4 tAs for same user in the displayed calendar-->  
<tr *ngFor="let item of goAwayersWithTAs; let j = index">
    <!-- The Zeros before the first TA-->
    <td *ngFor="let item2 of [].constructor(item.myTAs[0].daysTillTAstart); let i = index" [class]="isToday(i)"> </td>
    <td [attr.colspan]="item.myTAs[0].lengthOfTA" [class]="goAwayerClass"
      (click)="showTa(item.myTAs[0])" > {{item.LastName}} </td>
  <!-- If there is a 2nd TA for this GoAwayer do this loop-->
    <ng-container *ngIf = "item.myTAs[1]">
      <!-- days between 1st TA and 2nd tA -->
        <td *ngFor="let item2 of [].constructor(item.myTAs[1].daysTillTAstart); let k = index"> </td>
        <td [attr.colspan]="item.myTAs[1].lengthOfTA"  *ngIf = "item.myTAs[1]" [class]="goAwayerClass"
        (click)="showTa(item.myTAs[1])"> {{ item.myTAs[1].LastName }} </td>
    </ng-container>
    <!--  If there is NOT second TA put boxes in till end of Calendar-->
    <ng-container *ngIf = "!item.myTAs[1]">
          <td *ngFor="let item2 of [].constructor(item.myTAs[0].daysTillEndOfCalendar); let k = index"> </td>
    </ng-container>
  <!--  If there IS second TA-->
    <ng-container *ngIf = "item.myTAs[2]">
        <td *ngFor="let item2 of [].constructor(item.myTAs[2].daysTillTAstart); let k = index">  </td>
        <td [attr.colspan]="item.myTAs[2].lengthOfTA"  *ngIf = "item.myTAs[2]" [class]="goAwayerClass"
        (click)="showTa(item.myTAs[2])"> {{ item.myTAs[1].LastName }}</td>
    </ng-container>
    <!--  If there is NOT third TA-->
    <ng-container *ngIf = "!item.myTAs[2] && item.myTAs[1]">
          <td *ngFor="let item2 of [].constructor(item.myTAs[1].daysTillEndOfCalendar); let k = index"> </td>
    </ng-container>
    <!--  If there IS third TA-->
   <ng-container *ngIf = "item.myTAs[3]">
        <td *ngFor="let item2 of [].constructor(item.myTAs[3].daysTillTAstart); let k = index"> </td>
        <td [attr.colspan]="item.myTAs[3].lengthOfTA"  *ngIf = "item.myTAs[3]"  [class]="goAwayerClass"
         (click)="showTa(item.myTAs[3])"> {{ item.myTAs[1].LastName }}</td>
    </ng-container>
    <!--  If there is NOT forth TA-->
    <ng-container *ngIf = "!item.myTAs[3] && item.myTAs[2]&& item.myTAs[1]">
          <td *ngFor="let item2 of [].constructor(item.myTAs[2].daysTillEndOfCalendar); let k = index">  </td>
    </ng-container>
    <!--  If there IS 4th TA-->
   <ng-container *ngIf = "item.myTAs[4]">
        <td *ngFor="let item2 of [].constructor(item.myTAs[3].daysTillTAstart); let k = index"> 3 </td>
        <td [attr.colspan]="item.myTAs[4].lengthOfTA"  *ngIf = "item.myTAs[4]"  [class]="goAwayerClass"
        (click)="showTa(item.myTAs[4])"> {{ item.myTAs[1].LastName }}</td>
    </ng-container>
    <!--  If there is NOT 5th TA-->
    <ng-container *ngIf = "!item.myTAs[4] && item.myTAs[3]  && item.myTAs[2] && item.myTAs[1]">
          <td *ngFor="let item2 of [].constructor(item.myTAs[3].daysTillEndOfCalendar); let k = index">  </td>
    </ng-container>  
      <!--  If there IS 5th TA-->
   <ng-container *ngIf = "item.myTAs[5]">
        <td *ngFor="let item2 of [].constructor(item.myTAs[4].daysTillTAstart); let k = index"> 4 </td>
        <td [attr.colspan]="item.myTAs[5].lengthOfTA"  *ngIf = "item.myTAs[5]"  [class]="goAwayerClass"
        (click)="showTa(item.myTAs[5])"> {{ item.myTAs[1].LastName }}</td>
    </ng-container>  
        <!--  If there is NOT 6th TA-->
    <ng-container *ngIf = "!item.myTAs[5] && item.myTAs[3] && item.myTAs[4]   && item.myTAs[3]  && item.myTAs[2] && item.myTAs[1]">
          <td *ngFor="let item2 of [].constructor(item.myTAs[4].daysTillEndOfCalendar); let k = index"> 5 </td>
    </ng-container> 
          <!--  If there IS 6th TA-->
   <ng-container *ngIf = "item.myTAs[5]">
        <td *ngFor="let item2 of [].constructor(item.myTAs[5].daysTillTAstart); let k = index"> 6 </td>
        <td [attr.colspan]="item.myTAs[6].lengthOfTA"  *ngIf = "item.myTAs[6]"  [class]="goAwayerClass"
        (click)="showTa(item.myTAs[6])"> {{ item.myTAs[1].LastName }}</td>
    </ng-container>   
</tr>
</table>

</div>
<div class="centered-div" style="margin-top:2 0px;">
   
  <div>
    <caption style="width:300px;">Enter a new Time Away</caption>
    <form action="">
      <mat-form-field>
        <mat-label>Date range for Time Away</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Start date">
          <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <mat-form-field >
        <mat-label>Reason</mat-label>
        <mat-select  [(ngModel)]="reasonValue" name="reason" >
          <mat-option value="0">Vacation</mat-option>     
          <mat-option value="1">Meeting</mat-option>
          <mat-option value="2">Other</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Coverer</mat-label>
        <mat-select [(ngModel)]="covererValue" name="coverer">
          <mat-option  *ngFor = "let dosim of Dosims" [value]="dosim.UserKey">{{ dosim.LastName }}, {{ dosim.FirstName }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Note</mat-label>
        <input matInput  >
      </mat-form-field>
      <button class="raised-button" (click) = 'submit()'>Submit</button>
    </form>
    </div>
    
    <div *ngIf="shownTa">
      <caption style="width:300px;">Time Away for {{shownTa.LastName}}</caption>
      <mat-form-field style="width: 150px;">
        <mat-label>Start Date:</mat-label>
        <input matInput [value]="shownTa.startDateYMD" [readonly]="!isUserGoAwayerForThisTA(shownTa.userid)"  (change)="editTa($event, 'startDate', shownTa)">
      </mat-form-field>
      <mat-form-field style="width: 150px;">
        <mat-label>End Date:</mat-label>
        <input matInput [value]="shownTa.endDateYMD" [readonly]="!isUserGoAwayerForThisTA(shownTa.userid)" (change)="editTa($event, 'endDate', shownTa)">
      </mat-form-field>
      <!--  Reason dropDown-->
     <mat-form-field  *ngIf = "isUserGoAwayerForThisTA(shownTa.userid)" >
      <mat-label>Reason</mat-label>
        <mat-select  name="reasonToEdit" value="{{shownTa.reason}}" (selectionChange)="editTa($event, 'reason', shownTa)"  >
          <mat-option value="0" >Vacation</mat-option>     
          <mat-option value="1">Meeting</mat-option>
          <mat-option value="2">Other</mat-option>
        </mat-select>
      </mat-form-field>
 
    <mat-form-field  *ngIf = "!isUserGoAwayerForThisTA(shownTa.userid)" >
      <mat-label>Reason:</mat-label>
      <input matInput  value ="{{reasons[shownTa.reason]}}" readonly >
    </mat-form-field>


    <mat-form-field class="example-full-width">
      <mat-label>Note</mat-label>
     
        <input matInput  value ="{{shownTa.note}}" [readonly] = "!isUserGoAwayerForThisTA(shownTa.userid)" readonly (change)="editTa($event, 'note', shownTa)" >
    </mat-form-field>
    <button class="raised-button" *ngIf="isUserGoAwayerForThisTA(shownTa.userid)"  (click)="editTa('99', 'reasonIdx', shownTa)">Delete</button>
 
    </div>
    