th {
    text-align: center;
}
td {
    min-width: 40px;
    text-align: center;
    border: 1px solid black;
}
td.weekend {
    background-color: yellow ;
}
td.weekday {
    background-color: lightgrey ;
}
table {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #333;
        margin-left: auto;
        margin-right: auto;
        /* Optional: set a specific width for the table */
        width: 80%; /* Or a fixed pixel value like 600px */
}
.centered-div {
  width: 50%; /* Or any specific width */
  margin-left: auto;
  margin-right: auto;
  margin-top:50px;
  /* Shorthand: margin: 0 auto; */
}