<!DOCTYPE html>
<tbody>
    <h3> {{ monthShownName }} </h3>
<table> 
    <tr>
        <th></th>
        <th colspan="2"><img  class="images" (click) = "advanceMonth(-1)" src="assets/prevMonthArrow.png"/></th>
        <th colspan="2"><img  class="images" (click) = "advanceMonth(1)"  src="assets/nextMonthArrow.png"/></th>
    </tr>
    <tr>
        <td>Monday</td>
        <td>Tuesday</td>
        <td>Wednesday</td>
        <td>Thursday</td>
        <td>Friday</td>
    </tr>
    <tr> <!-- First Week -->
          <td *ngFor = "let item2 of firstWeekOfDates; let ind = index" style="border:solid">{{ item2.getDay() }}
            <table class="duties">
                <tr *ngFor = "let duty of duties">
                    <td> {{ duty }}</td>
                </tr>
            </table>
        </td>
    </tr> <!-- middle weeks-->
    <tr *ngFor = "let item of numsWeeks ">
        <td *ngFor = "let item2 of numForDays" style="border:solid">{{ getNumForBox(item2) }}
            <table class="duties">
                <tr *ngFor = "let duty of duties">
                    <td> {{ duty }}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</tbody>
