<!DOCTYPE html>
<tbody>
    <h3> {{ monthShownName }} </h3>
      <span>  test  {{ theMonth.datesWithDuties[3] | json }}</span>
<table> 
    <tr>
        <th></th>
        <th colspan="2"><img  class="images" (click) = "advanceMonth(-1)" src="assets/prevMonthArrow.png"/></th>
        <th colspan="2"><img  class="images" (click) = "advanceMonth(1)"  src="assets/nextMonthArrow.png"/></th>
    </tr>
    <tr><td colspan=5 style="font-size:30px;text-align: center;"> {{ theMonth.monthName }}</td></tr>
    <tr>
        <td>Monday</td>
        <td>Tuesday</td>
        <td>Wednesday</td>
        <td>Thursday</td>
        <td>Friday</td>
    </tr>
    <tr *ngFor = "let item of theMonth.weeks, index as ind">  <!-- First Week -->
        <td *ngFor = " let item2 of theMonth.weekDays[ind], index as ind2">{{item2}} 
                <table class="duties">
                  
                <tr *ngFor = "let duty of theMonth.datesWithDuties[ind], index as ind3">
                    <td> {{ ind }}</td>
                    <td *ngIf = "theMonth.datesWithDuties[ind2+ind*5]">
                         {{ theMonth.datesWithDuties[ind2+ind*5][ind3].userkey }}  -- {{ind2+ind*5 }} </td>
                </tr>
            </table>
        </td>
    </tr>    

</table>
</tbody>
