body {
  transform: scale(0.9); /* Scales down to 80% */
  transform-origin: 0 0; /*  Scales from the top-left corner */
}
h4 {
  font-size:small;
  color:red;
}
table {
    width: 800px;
    table-layout: fixed;
    font-size:small

}
table.legend {
  font-size: 0.8em;
  border:solid;
  width:300px
}
table.duties{
    font-size: 0.8em;
    background-color: rgb(239, 231, 231);
    width:100%
}
square-button {
  width: 50px;
  height: 50px;
  background-color: lightblue;
  border: none;
  border-radius: 2px;
  cursor: pointer; /* Optional: Change cursor on hover */
}

.square-button:hover {
  background-color: darkblue; /* Optional: Change background on hover */
  font-size:3px;
}

.takee {
  color:red;
  font-weight:bold;
  font-size:larger;
}
.normal {
  color: blue
}
.duties {
  border:solid;
}
.today {
  color:rgb(212, 78, 25);
  font-weight:bold;
  font-size:larger;
}
tr td {
  height: 20px; /* This will be treated as a minimum height */
}

