caption {
   font-weight: bold;
   text-align: center;
}
.dayName {
   font-weight: bold;
   text-align: center;
}
.tableCell {
   border: solid 1px black;
   width: 300px;
   height: 80px;
   text-align: center;
   vertical-align: middle;
   background-color: #e3eeee;
}
.todayCell {
   border: solid 2px red;
   width: 300px;
   height: 80px;
   text-align: center;
   vertical-align: middle;
   background-color: #e3eeee;
}
.takerName {
   font-weight: bold;
   text-align: center;
   vertical-align: middle;
   width: 200px;
}
.takeButton {
   align-items: right;
   text-align: right;
}
.raised-button {
    text-align: center;
  width: 10px;
  height: 5px;
  background-color: #4CAF50; /* Example background color */
  color: black;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: rgb(186, 178, 178);
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Initial shadow for raised effect */
  transition: all 0.2s ease; /* Smooth transition for hover/active states */
  background-image: linear-gradient(to right, rgb(125, 165, 158), rgb(244, 238, 238));

}

.raised-button:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); /* Smaller shadow on active (pressed) */
  transform: translateY(1px); /* Slight push down on active */
}