<div *ngIf="gotTCs">
    <table style="width: 1000px;">
        <tr>
            <th colspan="1"><img  class="images" (click)="advanceMonth(-1)"  src="assets/prevMonthArrow.png"/></th>
            <th colspan="2" style="font-size:x-large; text-align:center;">  {{ theMonth.monthName }}</th>
            <th colspan="1"><img  class="images" (click)="advanceMonth(1)" src="assets/nextMonthArrow.png"/></th>
        </tr>
        <tr style="border:solid;">
            <td class="dayName" >Monday</td>
            <td class="dayName">Tuesday</td>
            <td class="dayName">Wednesday</td>
            <td class="dayName">Thursday</td>
            <td class="dayName">Friday</td>
        </tr>
        <tr *ngFor = "let item of theMonth.weeks, index as ind">  
            <td *ngFor="let day of item, index as did">
                <table stye="width:300px; border:solid;">
                    <caption>{{ day.getDate() }}</caption>
                    <tr>
                        <td *ngIf="isPrivUser">
                            <mat-form-field>
                                <mat-label>Coverer</mat-label>
                                <mat-select [(ngModel)]="covsFromTable[ind][did]" (selectionChange)="enterCov($event, day)">
                                    <mat-option *ngFor="let option of TCs2" [value]="option.value">
                                    {{ option.viewValue }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td *ngIf = "!isPrivUser" class="tableCell">
                            <table  >
                                <tr>
                                    <td class="takerName">{{ CbUK[covsFromTable[ind][did]] }}</td> <!-- written by CoPilot -->
                                    <td class="takeButton" *ngIf = "isUserTaker">
                                        <button class="raised-button" (click) = "enterCov(covsFromTable[ind][did],day)"></button>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<h4>Click Button to assume coverage</h4>
