<div *ngIf="gotTCs">
    <table style="width: 1000px;">
        <tr>
            <th colspan="1"><img  class="images" (click)="advanceMonth(-1)"  src="assets/prevMonthArrow.png"/></th>
            <th colspan="2" style="font-size:x-large; text-align:left;">  {{ theMonth.monthName }}</th>
            <th colspan="1"><img  class="images" (click)="advanceMonth(1)" src="assets/nextMonthArrow.png"/></th>
        </tr>
        <tr style="border:solid;">
            <td >Monday</td>
            <td>Tuesday</td>
            <td>Wednesday</td>
            <td>Thursday</td>
            <td>Friday</td>
        </tr>
        <tr *ngFor = "let item of theMonth.weeks, index as ind">  
            <td *ngFor="let day of item, index as did">
                <table stye="width:300px; border:solid;">
                    <caption>{{ day.getDate() }}</caption>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-label>Coverer</mat-label>
                                <mat-select [(ngModel)]="covsFromTable[ind][did]" (selectionChange)="onChange($event, day)">
                                    <mat-option *ngFor="let option of TCs2" [value]="option.value">
                                    {{ option.viewValue }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>

