.container {
  position:relative;
  overflow: hidden;
  left:0
  border:solid 1px #e92c2c;
  /* Add other styles for your container, e.g., width, height */
}
.my-iframe {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  border:solid 2px #181616;
  background-color: pink;
}